@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather/Merriweather-Bold.ttf");
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  line-height: 2;
  font-family: "Inter";
  margin: 0;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: "Merriweather";
}

.display-md-flex {
  display: flex;
}

.display-md-none {
  display: none;
}

@media screen and (min-width: 45rem) {
  .display-sm-none {
    display: none;
  }
  .display-sm-flex {
    display: flex;
  }
}
.container {
  width: min(1400px, 100% - 20px);
  margin-inline: auto;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
}
.header .navbar .logo {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: auto;
}
.header .navbar .nav {
  gap: 1.5em;
}
.header .navbar .lang-switcher button {
  font: inherit;
  color: inherit;
}
.header .navbar .theme-switcher {
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
}
.header .navbar .nav-toogler {
  flex-direction: column;
  justify-content: space-between;
  height: 28px;
  width: 50px;
}
.header .navbar .nav-toogler .line {
  height: 3px;
}

.banner .container > * {
  max-width: 24em;
}

.btn {
  position: relative;
  font: inherit;
  height: 2.74rem;
  width: 11rem;
  border: 1px solid #BDAE82;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}
.btn .ripple {
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  animation: boom 1s;
  transform: translate(-50%, -50%);
}

@keyframes boom {
  from {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.section-title-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 0 3rem;
}
.section-title-wrapper::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  content: "";
  height: 1px;
  width: min(100%, 35rem);
}
.section-title-wrapper .title {
  text-align: center;
  padding-inline: 1rem;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 3.75rem;
}
.skills-list .skill {
  text-align: center;
  max-width: 14rem;
}
.skills-list .skill .icon {
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.skills-list .skill .icon#camera {
  background-image: url("../assets/svg/camera 1.svg");
}
.skills-list .skill .icon#video {
  background-image: url("../assets/svg/video 1.svg");
}
.skills-list .skill .icon#image {
  background-image: url("../assets/svg/image 1.svg");
}
.skills-list .skill .icon#mic {
  background-image: url("../assets/svg/mic 1.svg");
}
.skills-list .skill-title {
  margin-block: 0 1rem;
}
.skills-list .skill-description {
  margin: 0;
}

.portfolio .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 3rem;
}
.portfolio .photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.portfolio .photos .photo {
  height: 100%;
  width: 100%;
}

.video .plug {
  width: 100%;
  height: 100%;
}

.price-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  row-gap: 2.5rem;
}
.price-item {
  max-width: calc(22.5rem - 6px);
  width: 100%;
  text-align: center;
  border: 3px solid #BDAE82;
  padding-block: 2rem;
}
.price-item .price-title {
  margin: 0;
}
.price-item .price-num {
  margin-block: 1rem;
}
.price-item .price-description {
  margin: 0;
}
.price-item .btn {
  margin-top: 2.4rem;
}

.contacts .section-title {
  max-width: 22.5rem;
  margin-left: auto;
}
.contacts-form {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  max-width: 22.5rem;
  margin-left: auto;
}
.contacts-form input[type=email],
.contacts-form input[type=tel],
.contacts-form textarea {
  width: 100%;
  font: inherit;
  border: 2px solid #BDAE82;
  resize: none;
  padding: 0.25rem 1rem;
}

.body[data-color-schema=black] {
  color: #fff;
  background-color: #000;
}
.body[data-color-schema=black] .section-title-wrapper::after {
  background-color: #BDAE82;
}
.body[data-color-schema=black] .section-title-wrapper .title {
  color: #BDAE82;
  background-color: #000;
}
.body[data-color-schema=black] .btn_prim {
  background-color: #BDAE82;
}
.body[data-color-schema=black] .btn_sec {
  color: #BDAE82;
}
.body[data-color-schema=black] .btn_sec:hover {
  background-color: #BDAE82;
}
.body[data-color-schema=black] .header .navbar .logo {
  fill: #fff;
}
.body[data-color-schema=black] .header .navbar .theme-switcher {
  background-image: url("../assets/svg/sun.svg");
}
.body[data-color-schema=black] .header .navbar .nav-toogler .line {
  background-color: #fff;
}
.body[data-color-schema=black] .contacts-form input[type=email],
.body[data-color-schema=black] .contacts-form input[type=tel],
.body[data-color-schema=black] .contacts-form textarea {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.body[data-color-schema=black] .contacts-form input[type=email]::placeholder,
.body[data-color-schema=black] .contacts-form input[type=tel]::placeholder,
.body[data-color-schema=black] .contacts-form textarea::placeholder {
  color: #BDAE82;
}
.body[data-color-schema=white] {
  color: #000;
  background-color: #fff;
}
.body[data-color-schema=white] .section-title-wrapper::after {
  background-color: #000;
}
.body[data-color-schema=white] .section .title {
  color: #000;
  background-color: #fff;
}
.body[data-color-schema=white] .btn_prim {
  background-color: #fff;
}
.body[data-color-schema=white] .btn_prim:hover {
  background-color: #BDAE82;
}
.body[data-color-schema=white] .btn_sec {
  color: inherit;
  background-color: #BDAE82;
}
.body[data-color-schema=white] .btn_sec:hover {
  background-color: #000;
}
.body[data-color-schema=white] .header .navbar .logo {
  fill: #000;
}
.body[data-color-schema=white] .header .navbar .theme-switcher {
  background-image: url("../assets/svg/moon.svg");
}
.body[data-color-schema=white] .header .navbar .nav-toogler .line {
  background-color: #000;
}
.body[data-color-schema=white] .contacts-form input[type=email],
.body[data-color-schema=white] .contacts-form input[type=tel],
.body[data-color-schema=white] .contacts-form textarea {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
.body[data-color-schema=white] .contacts-form input[type=email]::placeholder,
.body[data-color-schema=white] .contacts-form input[type=tel]::placeholder,
.body[data-color-schema=white] .contacts-form textarea::placeholder {
  color: #000;
}
.body .btn_prim:hover, .body .btn_sec:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
