.contacts {
    .section-title {
      max-width: 22.5rem;

      margin-left: auto;
    }
    &-form {
        display: grid;
        justify-items: center;
        row-gap: 1rem;

        max-width: 22.5rem;

        margin-left: auto;

        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;

            color: #fff;
            font: inherit;
            background-color: rgba(#000000, 0.5);
            border: 2px solid $prim;

            resize: none;

            padding: 0.25rem 1rem;

            &::placeholder {
                color: $prim;
            }
        }
    }
}