@font-face {
    font-family: "Inter";
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: "Merriweather";
    src: url('../assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

button {
    border: none;

    background-color: transparent;

    padding: 0;
}

html {
    font-size: $fs-prim;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    line-height: $lh-prim;
    font-family: $ff-prim;

    margin: 0;
}

.h1,
.h2,
.h3,
.h4 {
    font-family: $ff-sec;
}


.display-md-flex {
    display: flex;
}

.display-md-none {
    display: none;
}

@media screen and (min-width: $break-point) {
    .display-sm-none {
        display: none;
    }
    .display-sm-flex {
        display: flex;
    }
}