.header {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        padding: 1em 0;
        .logo {
            display: block;
            height: 50px;
            width: 50px;

            margin-right: auto;
        }

        .nav {
            gap: 1.5em;
        }

        .lang-switcher {
            button {
                font: inherit;
                color: inherit;
            }
        }

        .nav-toogler {
            flex-direction: column;
            justify-content: space-between;

            height: 28px;
            width: 50px;
            .line {
                height: 3px;
                background-color: #fff;
            }
        }
    }
}
